@import "./utils/variables";
@import "./utils/mixins";
@import "./base/common";
@import "./utils/visually-hidden";

@import "./base/section";
@import "./base/container";

@import "./layout/header";
@import "./components/logo";
@import "./components/navigation";

@import "./layout/poster.scss";
@import "./components/order-button";

@import "./layout/section-3";
@import "./components/section-3-card";

@import "./components/section4-card";
@import "./components/title";
@import "./layout/section-4";

@import "./layout/section-5";
@import "./components/team-card";
@import "./components/social-links-list";

@import "./layout/section-6";
@import "./components/companies-list";

@import "./layout/footer";
@import "./components/footer-components/footer-nav";
@import "./components/footer-components/footer-form";
@import "./components/footer-components/footer-submit-button";

@import "./components/filter-button-container";
@import "./components/portfolio-card-overlay";
@import "./components/portfolio-card";

@import "./components/modal-window/modal-backdrop";
@import "./components/modal-window/modal-window";
@import "./components/modal-window/close-button";
@import "./components/modal-window/modal-inputs";
@import "./components/modal-window/custom-check";
@import "./components/modal-window/modal-submit-button";
