.footer-form-title {
  @include font(14px, 700, 1.14);
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--color-white);
}

.footer-form-wrapper {
  width: 100%;
}

.footer-input-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.footer-form-label {
  margin-bottom: 20px;
  width: 100%;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  background: none;
  border: 1px solid var(--footer-input-color);
  border-radius: 4px;
  color: var(--color-white);

  &::placeholder {
    color: var(--footer-input-color);
  }
}

@media screen and (min-width: 768px) {
  .footer-input-flex {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input-flex {
    display: flex;
    align-items: baseline;
  }

  .footer-form-label {
    max-width: 360px;
    margin-right: 12px;
  }

  .footer-input {
    width: 360px;
  }

  .footer-form-wrapper {
    max-width: 100%;
  }
  .footer-input-flex {
    flex-direction: row;
    align-items: unset;
  }
}
