.order-button {
  @include font(16px, 700, 1.9);
  width: 216px;
  height: 50px;
  font-family: var(--text-family);
  font-style: normal;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--hover-and-logo-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color var(--animations), box-shadow var(--animations);

  &:hover,
  &:focus {
    background-color: var(--order-btn-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
