.section5_card {
  background-color: var(--color-white);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-text {
  padding: 30px;
}

.section5-text {
  @include font(16px, 500, 1.19);
  text-align: center;
  margin-bottom: 10px;
}

.section5-subtext {
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 16px;
}
