:root {
    --hover-and-logo-color: #2196f3;
    --order-btn-active: #188ce8;
    --main-color: #212121;
    --text-color: #757575;
    --background-color: #2f303a;
    --milk_color: #f5f4fa;
    --card-background-color: rgba(47, 48, 58, 0.8);
    --footer_contacts_color: rgba(255, 255, 255, 0.6);
    --icons-color: #afb1b8;
    --footer-icons-background: rgba(255, 255, 255, 0.1);
    --header-border: #ececec;
    --portfolio-border-color: #eeeeee;
    --color-white: #fff;
    --color-black: #000000;
    --overlay-background: rgba(33, 150, 243, 0.9);
    --footer-input-color: rgba(255, 255, 255, 0.3);

    --text-family: "Roboto", sans-serif;
    --logo-family: "Raleway", sans-serif;

    --animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}